# Logs
logs
*.log
pnpm-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env*

# Supabase
.supabase

# TanStack Router
frontend/src/routeTree.gen.ts

# MCP
.mcp.json

.claude
CLAUDE.md
.cursor